In [1]:
from functools import partial
import mysql.connector

connection = mysql.connector.connect(
    host='localhost',
    user='megadados',
    password='megadados',
    database='sakila',
    sql_mode='only_full_group_by',
)


def run_db_query(connection, query, args=None):
    with connection.cursor() as cursor:
        print('Executando query:')
        cursor.execute(query, args)
        for result in cursor:
            print(result)


db = partial(run_db_query, connection)

1) Quais os nomes das categorias de filme?

In [2]:
db('''
SELECT 
    name
FROM
    category
''')

Executando query:
('Action',)
('Animation',)
('Children',)
('Classics',)
('Comedy',)
('Documentary',)
('Drama',)
('Family',)
('Foreign',)
('Games',)
('Horror',)
('Music',)
('New',)
('Sci-Fi',)
('Sports',)
('Travel',)

2) Quais atores tem as iniciais "J.D."?

In [3]:
db('''
SELECT 
    first_name, last_name
FROM
    actor
WHERE
    last_name like "D%"
    AND first_name like "J%"
''')

Executando query:
('JENNIFER', 'DAVIS')
('JUDY', 'DEAN')
('JODIE', 'DEGENERES')
('JULIANNE', 'DENCH')

3) Liste as cidades brasileiras presentes na base de dados.

In [4]:
db('''
SELECT
    city
FROM
    country
    INNER JOIN city USING (country_id)
WHERE
    country = 'Brazil'

''')

Executando query:
('Alvorada',)
('Angra dos Reis',)
('Anpolis',)
('Aparecida de Goinia',)
('Araatuba',)
('Bag',)
('Belm',)
('Blumenau',)
('Boa Vista',)
('Braslia',)
('Goinia',)
('Guaruj',)
('guas Lindas de Gois',)
('Ibirit',)
('Juazeiro do Norte',)
('Juiz de Fora',)
('Luzinia',)
('Maring',)
('Po',)
('Poos de Caldas',)
('Rio Claro',)
('Santa Brbara dOeste',)
('Santo Andr',)
('So Bernardo do Campo',)
('So Leopoldo',)
('Sorocaba',)
('Vila Velha',)
('Vitria de Santo Anto',)

4) Quantas cidades brasileiras tem na base de dados?

In [5]:
db('''
SELECT
    COUNT(city)
FROM
    country
    INNER JOIN city USING (country_id)
WHERE
    country = 'Brazil'
''')

Executando query:
(28,)

5) Liste os filmes do ator (fictício) "Dan Harris"

In [6]:
db('''
SELECT
    title
FROM
    film
    INNER JOIN film_actor USING (film_id)
    INNER JOIN actor USING (actor_id)
WHERE
    first_name = 'Dan'
    AND last_name = 'Harris'
''')

Executando query:
('BEDAZZLED MARRIED',)
('BOONDOCK BALLROOM',)
('DESTINY SATURDAY',)
('DIVINE RESURRECTION',)
('EYES DRIVING',)
('FELLOWSHIP AUTUMN',)
('GHOST GROUNDHOG',)
('GROOVE FICTION',)
('HILLS NEIGHBORS',)
('HOLIDAY GAMES',)
('INDEPENDENCE HOTEL',)
('INSIDER ARIZONA',)
('JADE BUNCH',)
('LIES TREATMENT',)
('MONTEREY LABYRINTH',)
('REUNION WITCHES',)
('RUN PACIFIC',)
('SCHOOL JACKET',)
('SEVEN SWARM',)
('SIEGE MADRE',)
('STEERS ARMAGEDDON',)
('STRAIGHT HOURS',)
('SUMMER SCARFACE',)
('SUPERFLY TRIP',)
('TITANIC BOONDOCK',)
('TITANS JERK',)
('VANISHING ROCKY',)
('WATERSHIP FRONTIER',)

6) Quais filmes estão alugados por Florence Woods?

In [7]:
db('''
SELECT
    title
FROM
    film
    INNER JOIN inventory USING(film_id)
    INNER JOIN rental USING(inventory_id)
    INNER JOIN customer USING(customer_id)
WHERE
    first_name = 'Florence'
    AND last_name = 'Woods'
    AND return_date IS NULL
''')

Executando query:
('CLUB GRAFFITI',)
('BLADE POLISH',)

7) Para quais línguas não tem nenhum filme na locadora? (Dica: use LEFT OUTER JOIN.)

In [11]:
db('''
SELECT
    title, name
FROM
    language
    LEFT OUTER JOIN film USING(language_id)
WHERE
    title is NULL
''')

Executando query:
(None, 'Italian')
(None, 'Japanese')
(None, 'Mandarin')
(None, 'French')
(None, 'German')

As vezes desejamos consultar quais os valores distintos de uma coluna. Para isso usamos o qualificador DISTINCT.

8) Quais os anos de lançamento dos filmes da base?

In [12]:
db('''
SELECT
    DISTINCT(release_year)
FROM
    film

''')

Executando query:
(2006,)

9) Quais clientes estão alugando um DVD agora?

In [20]:
db('''
SELECT
    DISTINCT(first_name), last_name
FROM
    customer
    INNER JOIN rental USING (customer_id)
WHERE
    return_date IS NULL
ORDER BY
    first_name
''')

Executando query:
('ADRIAN', 'CLARY')
('ALBERT', 'CROUSE')
('ALBERTO', 'HENNING')
('ALICIA', 'MILLS')
('ALLAN', 'CORNISH')
('ALLEN', 'BUTTERFIELD')
('ALLISON', 'STANLEY')
('ANA', 'BRADLEY')
('ANDY', 'VANHORN')
('ANGELA', 'HERNANDEZ')
('ANNA', 'HILL')
('ANNETTE', 'OLSON')
('APRIL', 'BURNS')
('BARRY', 'LOVELACE')
('BECKY', 'MILES')
('BERNARD', 'COLBY')
('BETH', 'FRANKLIN')
('BETTY', 'WHITE')
('BEVERLY', 'BROOKS')
('BILL', 'GAVIN')
('BRANDON', 'HUEY')
('BRENT', 'HARKINS')
('CARMEN', 'OWENS')
('CAROLYN', 'PEREZ')
('CASSANDRA', 'WALTERS')
('CATHY', 'SPENCER')
('CECIL', 'VINES')
('CHARLIE', 'BESS')
('CHRIS', 'BROTHERS')
('CHRISTIAN', 'JUNG')
('CHRISTINE', 'ROBERTS')
('CLAUDIA', 'FULLER')
('CLINTON', 'BUFORD')
('COLLEEN', 'BURTON')
('CORY', 'MEEHAN')
('COURTNEY', 'DAY')
('CRAIG', 'MORRELL')
('CURTIS', 'IRBY')
('CYNTHIA', 'YOUNG')
('DAISY', 'BATES')
('DARRYL', 'ASHCRAFT')
('DARYL', 'LARUE')
('DERRICK', 'BOURQUE')
('DIANNE', 'SHELTON')
('DUSTIN', 'GILLETTE')
('DWAYNE', 'OLVERA')
('EDWARD', 'BAUGH')
('ELIZABETH', 'BROWN')
('ELMER', 'NOE')
('EMILY', 'DIAZ')
('ENRIQUE', 'FORSYTHE')
('FELIX', 'GAFFNEY')
('FLORENCE', 'WOODS')
('FRED', 'WHEAT')
('FREDDIE', 'DUGGAN')
('GAIL', 'KNIGHT')
('GARY', 'COY')
('GILBERT', 'SLEDGE')
('GINA', 'WILLIAMSON')
('GLORIA', 'COOK')
('GRACE', 'ELLIS')
('GREG', 'ROBINS')
('GREGORY', 'MAULDIN')
('GUY', 'BROWNLEE')
('GWENDOLYN', 'MAY')
('HEATHER', 'MORRIS')
('HELEN', 'HARRIS')
('HILDA', 'HOPKINS')
('HOLLY', 'FOX')
('IAN', 'STILL')
('IVAN', 'CROMWELL')
('JAY', 'ROBB')
('JEAN', 'BELL')
('JEANETTE', 'GREENE')
('JEANNE', 'LAWSON')
('JENNY', 'CASTRO')
('JEREMY', 'HURTADO')
('JERRY', 'JORDON')
('JESSIE', 'BANKS')
('JESSIE', 'MILAM')
('JOE', 'GILLILAND')
('JOEL', 'FRANCISCO')
('JOHN', 'FARNSWORTH')
('JORDAN', 'ARCHULETA')
('JOSHUA', 'MARK')
('JUANITA', 'MASON')
('JUDITH', 'COX')
('JUDY', 'GRAY')
('JULIE', 'SANCHEZ')
('JUSTIN', 'NGO')
('KATIE', 'ELLIOTT')
('KENNETH', 'GOODEN')
('KRISTIN', 'JOHNSTON')
('KYLE', 'SPURLOCK')
('LARRY', 'THRASHER')
('LAURA', 'RODRIGUEZ')
('LAUREN', 'HUDSON')
('LAURIE', 'LAWRENCE')
('LAWRENCE', 'LAWTON')
('LEE', 'HAWKS')
('LEONARD', 'SCHOFIELD')
('LISA', 'ANDERSON')
('LOIS', 'BUTLER')
('LOUIS', 'LEONE')
('LOUISE', 'JENKINS')
('LUCY', 'WHEELER')
('MARCIA', 'DEAN')
('MARGARET', 'MOORE')
('MARGIE', 'WADE')
('MARIE', 'TURNER')
('MARILYN', 'ROSS')
('MARIO', 'CHEATHAM')
('MARION', 'SNYDER')
('MATTIE', 'HOFFMAN')
('MELANIE', 'ARMSTRONG')
('MELVIN', 'ELLINGTON')
('MICHELLE', 'CLARK')
('MIGUEL', 'BETANCOURT')
('MILDRED', 'BAILEY')
('MILTON', 'HOWLAND')
('MORRIS', 'MCCARTER')
('NAOMI', 'JENNINGS')
('NATALIE', 'MEYER')
('NEIL', 'RENNER')
('NORMA', 'GONZALES')
('NORMAN', 'CURRIER')
('PEGGY', 'MYERS')
('PERRY', 'SWAFFORD')
('RAFAEL', 'ABNEY')
('RAMONA', 'HALE')
('RAYMOND', 'MCWHORTER')
('REGINA', 'BERRY')
('ROBIN', 'HAYES')
('ROLAND', 'SOUTH')
('SARAH', 'LEWIS')
('SCOTT', 'SHELLEY')
('SERGIO', 'STANFIELD')
('SETH', 'HANNON')
('SONIA', 'GREGORY')
('STACEY', 'MONTGOMERY')
('STACY', 'CUNNINGHAM')
('STEPHANIE', 'MITCHELL')
('SYLVIA', 'ORTIZ')
('TAMARA', 'NGUYEN')
('TAMMY', 'SANDERS')
('TERRANCE', 'ROUSH')
('TERRY', 'GRISSOM')
('TOM', 'MILNER')
('TRACY', 'COLE')
('TRAVIS', 'ESTEP')
('TYLER', 'WREN')
('VICKIE', 'BREWER')
('VIOLA', 'HANSON')
('WANDA', 'PATTERSON')
('WENDY', 'HARRISON')
('WILLIE', 'MARKHAM')
('WILLIE', 'HOWELL')
('YOLANDA', 'WEAVER')
('ZACHARY', 'HITE')

10) Quais os 10 atores que mais apareceram em filmes?

In [21]:
db('''
SELECT
    actor_id, first_name, last_name, COUNT(actor_id) as aparicoes
FROM
    actor
    INNER JOIN film_actor USING (actor_id)
    INNER JOIN film USING (film_id)
GROUP BY
    actor_id
ORDER BY
    aparicoes DESC
LIMIT
    10
''')

Executando query:
(107, 'GINA', 'DEGENERES', 42)
(102, 'WALTER', 'TORN', 41)
(198, 'MARY', 'KEITEL', 40)
(181, 'MATTHEW', 'CARREY', 39)
(23, 'SANDRA', 'KILMER', 37)
(81, 'SCARLETT', 'DAMON', 36)
(37, 'VAL', 'BOLGER', 35)
(158, 'VIVIEN', 'BASINGER', 35)
(106, 'GROUCHO', 'DUNST', 35)
(13, 'UMA', 'WOOD', 35)

11) Quais filmes custam mais que 3 dinheiros?

In [23]:
db('''
SELECT
    COUNT(film_id)
FROM
    film
WHERE
    rental_rate > 3

''')

Executando query:
(336,)

12) Quais atores não compartilham seu sobrenome com nenhum outro ator?

In [32]:
db('''
SELECT
    MIN(first_name), MIN(last_name), COUNT(last_name) as unico_sobrenome
FROM
    actor
GROUP BY
    last_name
HAVING
    unico_sobrenome = 1
ORDER BY
    last_name
''')

Executando query:
('ANGELINA', 'ASTAIRE', 1)
('RUSSELL', 'BACALL', 1)
('HARRISON', 'BALE', 1)
('RENEE', 'BALL', 1)
('JULIA', 'BARRYMORE', 1)
('VIVIEN', 'BASINGER', 1)
('VIVIEN', 'BERGEN', 1)
('LIZA', 'BERGMAN', 1)
('CUBA', 'BIRCH', 1)
('KEVIN', 'BLOOM', 1)
('CHRIS', 'BRIDGES', 1)
('LAURENCE', 'BULLOCK', 1)
('MATTHEW', 'CARREY', 1)
('GREG', 'CHAPLIN', 1)
('RUSSELL', 'CLOSE', 1)
('FRED', 'COSTNER', 1)
('SIDNEY', 'CROWE', 1)
('JUDE', 'CRUISE', 1)
('RALPH', 'CRUZ', 1)
('SCARLETT', 'DAMON', 1)
('FRANCES', 'DAY-LEWIS', 1)
('SYLVESTER', 'DERN', 1)
('ALAN', 'DREYFUSS', 1)
('GROUCHO', 'DUNST', 1)
('CHRISTIAN', 'GABLE', 1)
('MERYL', 'GIBSON', 1)
('PARKER', 'GOLDBERG', 1)
('ADAM', 'GRANT', 1)
('MEG', 'HAWKE', 1)
('GEOFFREY', 'HESTON', 1)
('HARVEY', 'HOPE', 1)
('ANGELA', 'HUDSON', 1)
('CARMEN', 'HUNT', 1)
('WHOOPI', 'HURT', 1)
('WOODY', 'JOLIE', 1)
('KIRK', 'JOVOVICH', 1)
('MATTHEW', 'LEIGH', 1)
('JOHNNY', 'LOLLOBRIGIDA', 1)
('GRETA', 'MALDEN', 1)
('ED', 'MANSFIELD', 1)
('ELVIS', 'MARX', 1)
('MORGAN', 'MCDORMAND', 1)
('TOM', 'MIRANDA', 1)
('BETTE', 'NICHOLSON', 1)
('KENNETH', 'PESCI', 1)
('OLYMPIA', 'PFEIFFER', 1)
('GARY', 'PHOENIX', 1)
('PENELOPE', 'PINKETT', 1)
('JAMES', 'PITT', 1)
('BURT', 'POSEY', 1)
('ELLEN', 'PRESLEY', 1)
('RITA', 'REYNOLDS', 1)
('JADA', 'RYDER', 1)
('GROUCHO', 'SINATRA', 1)
('SISSY', 'SOBIESKI', 1)
('NICK', 'STALLONE', 1)
('JOHN', 'SUVARI', 1)
('JOE', 'SWANK', 1)
('DUSTIN', 'TAUTOU', 1)
('FRANCES', 'TOMEI', 1)
('HELEN', 'VOIGHT', 1)
('BELA', 'WALKEN', 1)
('ALEC', 'WAYNE', 1)
('WILL', 'WILSON', 1)
('ANGELA', 'WITHERSPOON', 1)
('CAMERON', 'WRAY', 1)

13) Liste a duração média dos filmes na categoria 'Drama'. Aqui o GROUP BY é necessário?

In [33]:
db('''
SELECT
    AVG(length)
FROM
    film
    INNER JOIN film_category USING (film_id)
    INNER JOIN category USING (category_id)
WHERE
    name = 'Drama'
''')

Executando query:
(Decimal('120.8387'),)

In [36]:
db('''
SELECT
    name, AVG(length)
FROM
    film
    INNER JOIN film_category USING (film_id)
    INNER JOIN category USING (category_id)
GROUP BY
    category_id
HAVING
    name = 'Drama'
''')

Executando query:
('Drama', Decimal('120.8387'))

14) Liste o nome da categoria e a duração média dos filmes por categoria.

In [37]:
db('''
SELECT
    name, AVG(length) as duracao
FROM
    film
    INNER JOIN film_category USING (film_id)
    INNER JOIN category USING (category_id)
GROUP BY
    category_id
ORDER BY
    duracao DESC
''')

Executando query:
('Sports', Decimal('128.2027'))
('Games', Decimal('127.8361'))
('Foreign', Decimal('121.6986'))
('Drama', Decimal('120.8387'))
('Comedy', Decimal('115.8276'))
('Family', Decimal('114.7826'))
('Music', Decimal('113.6471'))
('Travel', Decimal('113.3158'))
('Horror', Decimal('112.4821'))
('Classics', Decimal('111.6667'))
('Action', Decimal('111.6094'))
('New', Decimal('111.1270'))
('Animation', Decimal('111.0152'))
('Children', Decimal('109.8000'))
('Documentary', Decimal('108.7500'))
('Sci-Fi', Decimal('108.1967'))

15) Liste o nome da categoria e a duração média dos filmes por categoria, apenas para categorias cuja duração média de filme excede 120 minutos.

In [38]:
db('''
SELECT
    name, AVG(length) as duracao
FROM
    film
    INNER JOIN film_category USING (film_id)
    INNER JOIN category USING (category_id)
GROUP BY
    category_id
HAVING
    duracao > 120
ORDER BY
    duracao DESC
''')

Executando query:
('Sports', Decimal('128.2027'))
('Games', Decimal('127.8361'))
('Foreign', Decimal('121.6986'))
('Drama', Decimal('120.8387'))

In [39]:
connection.close()